body{
  margin:0;
}
.App {
  font-family: sans-serif;
  text-align: center;
  display: grid;
  grid-template-columns: 15% 65% 15%;
  grid-column-gap: 45px;
  background-color: #F3F3F7;
}
.center{
  display: grid;
  grid-column: 2;
  min-height: 100vh;
}
.countrystats{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}
.left{
  display:grid;
  grid-column: 1;
  box-shadow: 0 0 0 1px white, 0 2px 4px 1px rgba(0,0,0,.18);
  background-color: white;
}
.card-row{
  display: grid;
  grid-column: 1 / span 2;
  grid-template-columns: 32% 32% 33%;
  grid-column-gap: 20px;
}
.column-1{
  grid-column: 1;
  display: grid;
  height: fit-content;
  grid-row-gap: 20px;
}
.column-2{
  grid-column: 2;
  display: grid;
  height: fit-content;
  grid-row-gap: 20px;
}
.header{
  display:grid;
  grid-column: 1/ span 2;
  margin-top: 30px;
}
.header h1{
  text-align: left;
}
.autocomplete{
  width: 100%;
  border: 1px solid grey;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 4px 1px rgba(0,0,0,.18);
}
.autocomplete input{
  width: 100%;
  border: none;
  padding: 10px 5px;
  box-sizing: border-box;
  outline: none;
}

.autocomplete ul {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
  border-top: 1px solid black;
}

.autocomplete ul::before{
  content: "";
}

.autocomplete li {
  padding: 10px 5px;
  cursor: pointer;
}

.autocomplete li:hover {
  background-color: lightgray;
  text-decoration: underline;
}
.sidenavbar{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.sidenavbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sidenavbar li{
  padding: 10px 5px;
  cursor: pointer;
  text-decoration: none;
}
.sidenavbar li:hover{
  background-color: lightgray;
}

.card{
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 4px 1px rgba(0,0,0,.18);
  height: fit-content;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
}

.red{
  border: 3px solid rgba(255,0,0);
}

.orange{
  border: 3px solid rgba(255,128,0);
}

.yellow{
  border: 3px solid rgba(255,255,0);
}

.green{
  border: 3px solid rgba(0,204,0);
}

.darkred{
  border: 3px solid rgba(153,0,0);
}

@media (max-width: 1200px){
  .App{
    display: flex;
    background-color: aliceblue;
    flex-direction: column;
    overflow-x: auto;
    white-space: nowrap;
    align-items: center;
  }
  .center{
    display: flex;
  }
  .countrystats{
    display: flex;
    flex-direction: column;
  }
  .card-row{
    display: flex;
    flex-direction: column;
  }
}

@media (orientation: landscape){

}